a, a:visited { color: #3b60b3; text-decoration: none; }
a:hover { color: #678bdc; text-decoration: none; }
button {
  background: #4cd074;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 3px;
  padding: 4px;
  font-size: 12px;
  font-weight: 600;
}

.hcenter {
  display: flex;
  align-content: center;
}
.vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  margin-bottom: 20px;
  img {
    width: 70%;
  }
}

.navigation {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;

  ul {
    margin: 5px 0;
    padding: 0;

    li {
      list-style-type: none;
      margin: 0;
      padding: 5px 0 5px 20px;

      a {
        text-decoration: none;
      }
    }
  }
}

.notifications {
  flex-grow: 0;
  display: flex;

  & > ul {
    list-style-type: none;

    & > li {
      padding: 20px 0px;
      margin: 10px 0px;

      &.error {
        background-color: #ffdddd;
      }
      &.warning {
        background-color: #ffeedd;
      }
      &.info {
        background-color: #ddffdd;
      }
    }
  }
}

.content {
  flex: 1;
  display: flex;

  & > .centered {
    margin: auto;
  }
}