a, a:visited { color: #3b60b3; text-decoration: none; }
a:hover { color: #678bdc; text-decoration: none; }

.hcenter {
  display: flex;
  align-content: center;
}
.vcenter {
  display: flex;
  flex-direction: column;
  justify-content: cemter;
}

header {
  margin-bottom: 20px;
  img {
    width: 70%;
  }
}

.navigation {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;

  ul {
    margin: 5px 0;
    padding: 0;

    li {
      list-style-type: none;
      margin: 0;
      padding: 5px 0 5px 20px;

      a {
        text-decoration: none;
      }
    }
  }
}

.notifications {
  display: flex;

  & > ul {
    list-style-type: none;

    & > li {
      padding: 20px 0px;
      margin: 10px 0px;

      &.error {
        background-color: #ffdddd;
      }
      &.warning {
        background-color: #ffeedd;
      }
      &.info {
        background-color: #ddffdd;
      }
    }
  }
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}