.select-account-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .accounts {
    max-width: 90vw;
    width: 400px;
    padding-top: 20px;

    & > button, & > label {
      width: 100%;
      margin-bottom: 10px;
      display: block;

      &.account {
        color: #000;
        background-color: #fff;
        border: 1px solid #aaa;
      }
      &.logout {
        width: auto;
        margin-top: 50px;
      }
    }
  }
}