.select-account-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .accounts {
    max-width: 90vw;
    width: 400px;
    display: flex;
    flex-direction: column;

    & > button, & > label {
      width: 100%;
      margin-bottom: 10px;
      display: block;

      &.logout {
        width: auto;
        margin-top: 20px;
        margin-bottom: 10px;
        align-self: flex-end;
      }
    }
  }
}