.widget { border: 1px solid #eeeeee; }
  .widget .widget-title { border-bottom: 1px solid #eeeeee; padding: 5px 20px; background-color: #ffffee; display: flex; font-size: 14px; }
    .widget .widget-title h1 { flex-grow: 1; line-height: 18px; padding: 0; }
      .widget .widget-title h1 i { font-size: 12px; color: hsl(215, 80%, 30%); margin-left: 5px; }
    .widget .widget-title a { display: block; flex-grow: 0; margin-left: 10px; }
      .widget .widget-title a i.fa-trash { color: hsl(0, 80%, 30%); }
      .widget .widget-title a i.fa-edit { margin-top: 3px; color: hsl(215, 80%, 30%); }
      .widget .widget-title a i.fa-arrows-alt { margin-left: 10px; font-size: 12px; padding-top: 2px; color: hsl(215, 80%, 30%); }

  .widget-content { padding: 15px 20px 20px; }
