[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansicolors = "*"
flask = "*"
python-slugify = "*"
jsonschema = "*"
passlib = "*"
bcrypt = "*"
pyjwt = "*"
paho-mqtt = "*"
python-dotenv = "*"
psycopg2-binary = "*"
dnspython = "*"
flask-mail = "*"

[dev-packages]
pytest = "*"
zappa = "*"
pylint = "*"
apispec = "*"
apispec-webframeworks = "*"

[requires]
python_version = "3.6"
