[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansicolors = "*"
flask = "*"
python-slugify = "*"
flask-sockets = "*"
jsonschema = "*"
wtforms = "*"
flask-inputs = {ref = "9d7d32902fe04ceb5a6344edaa35b070cf93a6dc",git = "https://github.com/nathancahill/flask-inputs.git",editable = true}
passlib = "*"
bcrypt = "*"
pyjwt = "*"
paho-mqtt = "*"
python-dotenv = "*"
psycopg2-binary = "*"
dnspython = "*"
apispec = "*"
apispec-webframeworks = "*"

[dev-packages]
pytest = "*"
zappa = "*"

[requires]
python_version = "3.6"
