ansicolors==1.1.8
Flask==0.12.2
psycopg2==2.7.3.2
WTForms==2.1
-e git+https://github.com/nathancahill/flask-inputs.git@9d7d32902fe04ceb5a6344edaa35b070cf93a6dc#egg=Flask_Inputs
python-slugify==1.2.4
Flask-Sockets==0.2.1
jsonschema==2.6.0
