input { border: 1px solid #ccc; background-color: #fff; padding: 1px 5px; }

div.path-filter {
  margin-bottom: 3px;
  position: relative;

  input {
    margin: 0 0 0 10px;
    width: calc(100% - 42px);
    padding-right: 30px;
    padding-bottom: 0;
  }
  i.fa-backspace {
    position: absolute;
    right: 0;
    top: 7px;
  }
}

div.legend {

  div.path-checkbox-parent {
    position: relative;
    min-height: 18px;

    & > div.checkbox-label {
      padding-left: 35px;
      margin-bottom: 5px;
    }
  }

  div.header-controls {
    display: flex;
    flex-direction: row;

    div.path-checkbox-parent.all {
      margin-bottom: 10px;
      flex-grow: 1;

      i.fa.fa-check {
        color: #009900;
        font-size: 10px;
      }
    }
    div.path-exchange-parent {
      .fa.fa-exchange.disabled {
        color: #999;
      }
    }
  }

  div.path-checkbox {
    padding: 1px;
    background-color: #ffffff;
    position: absolute;
    left: 15px;
    top: 4px;
    border: 1px solid #ff6600;

    & > div {
      width: 10px;
      height: 10px;
    }
  }
  div.path-filter-noresults {
    font-size: 12px;
    font-style: italic;
    padding: 5px 20px;
  }
}

span.legend-label {
  font-size: 10px;
  overflow-wrap: break-word;
}