form {
  display: flex;
  flex-direction: column;

  .field {
    margin-bottom: 10px;

    label {
      margin-bottom: 3px;
      font-size: 12px;
      display: block;
    }
    input {
      width: 250px;
      max-width: 90vw;
      min-width: 150px;

      &[type=radio] {
        width: initial;
        min-width: initial;
      }
    }
  }
  button {
    margin-top: 10px;
    max-width: 200px;
  }
  .info {
    width: 250px;
    max-width: 90vw;
    min-width: 150px;
  }
  .nested-field {
    padding-left: 10px;
  }
}
