.field.initialize_from {
  .option_container {
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
      margin-right: 8px;
      display: flex;
      align-items: center;

      & > * {
        margin: 0;
        padding: 0;
      }
    }

    input[type=radio] {
      margin-right: 5px;
    }
  }
}