h1 { font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 14px; color: #333; margin: 0; }

  .widget-dialog-container { position: relative; }
    .widget-dialog-container .widget-dialog-overlay { position: absolute; left: 0; top: 0; background-color: #000000; }
    .widget-dialog-container .widget-dialog { position: absolute; left: 20px; top: 0; box-sizing: border-box; padding: 20px; background-color: #ffffff; box-shadow: 10px 20px 20px #cccccc; border: 1px solid #eeeeee; border-top: none; }
    /* .widget-dialog-container .widget-dialog { transition: all 0.2s ease-out 0s; } */
