div.login_form {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  row-gap: 10px;

  label {
    display: block;
  }
}
div.bottom {
  clear: both;

  .fa-exclamation-triangle {
    color: #660000;
  }
}