div.admin_first {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  div.info {
    color: #222;

    button {
      margin-bottom: 20px;
    }
    .fa-exclamation-triangle {
      color: #660000;
    }
  }
}