div.admin_first {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  div.info {
    color: #222;
    margin-bottom: 20px;

    strong {
      font-style: italic;
      font-weight: bold;
    }

    .fa-exclamation-triangle {
      color: #660000;
    }
  }
}