.login-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .login-box {
    padding: 50px;
    position: relative;
    display: flex;

    .grafolean {
      width: 250px;
      margin-top: 30px;
      display: flex;
      justify-content: right;
      align-items: flex-start;


      .grafolean-logo {
        width: 150px;
        margin-right: 50px;
      }
    }

    .login.form {
      border-left: 1px solid #ccc;
      padding: 20px 50px;
      display: flex;
      flex-direction: column;

      .field {
        margin-bottom: 10px;

        label {
          margin-bottom: 3px;
          font-size: 12px;
          display: block;
        }
        input {
          width: 250px;
        }
      }
      button {
        margin-top: 10px;
      }
    }

    .error-msg {
      margin: 20px 0 0;
      color: #660000;
    }

  }
}
