html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
p, span, div, button, a {
  font-family: sans-serif;
  font-size: 14px;
}
input {
  border-radius: 2px;
  height: 23px;
}

/* try to make buttons look like links: (see jsx-a11y/anchor-is-valid eslint rule) */
button.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

/* try to make links look like buttons: (because this is what Link creates) */
a.button, button {
  padding: 5px 10px;
  background-color: #4cd074;
  color: #fff !important;
  text-decoration: none;
  margin: 0px;
  border: none !important;
  border-radius: 3px;
  line-height: 14px;  // important to make buttons look exactly the same as (button-ified) links

  &.orange {
    background-color: #ec932f;
  }
  &.blue {
    background-color: #5b7ed5;
  }
  &.red {
    background-color: #a71818;
  }
  &.disabled {
    color: #ccc;
  }

  & > i.fa {
    font-size: 14px;
    margin-right: 5px;
    &.fa-plus {
      font-size: 12px;
    }
  }
}

// button {
//   background-color: #4cd074;
//   color: #fff;
//   border: 1px solid #45bc69;
//   height: 27px;
//   cursor: pointer;
//   border-radius: 3px;
//   padding: 1px 4px;
//   font-size: 12px;
//   font-weight: 600;
// }
// button:disabled {
//   color: #ccc;
// }
// button:hover {
//   background-color: #4cd074;
// }
