input { border: 1px solid #ccc; background-color: #fff; padding: 1px 5px; }

div.path-filter { margin-bottom: 10px; }
  div.path-filter input { margin: 0 5px 0 15px; width: 130px; }
  div.path-filter i.fa { color: #55b412; }
div.legend div.path-checkbox-parent { position: relative; min-height: 18px; }
  div.legend div.path-checkbox-parent.all { margin-bottom: 10px; }
    div.legend div.path-checkbox-parent.all i.fa.fa-check { color: #009900; font-size: 10px; }
div.legend div.path-checkbox { padding: 1px; background-color: #ffffff; position: absolute; left: 15px; top: 4px; border: 1px solid #ff6600; }
  div.legend div.path-checkbox > div { width: 10px; height: 10px; }
div.legend div.path-checkbox-parent > div.checkbox-label { padding-left: 35px; margin-bottom: 5px; }
div.legend div.path-filter-noresults { font-size: 12px; font-style: italic; padding: 5px 20px; }

span.legend-label { font-size: 10px; overflow-wrap: break-word; }