.top-n {
  color: #333;
  .dark-mode & {
    color: #fafafa;
  }

  .label {
    font-size: 15px;
  }
  .value {
    font-size: 30px;
    margin-left: 15px;
  }
  .unit {
    font-size: 25px;
    margin-left: 3px;
  }
  .percent {
    font-size: 15px;
    margin-left: 3px;
  }

  .total {
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;
  }

  .entry {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

    .percent-bar {
      margin-left: auto;
      padding-bottom: 6px;
      position: relative;

      .wrapper {
        width: 70px;
        border: 1px solid #444;
        height: 17px;
        position: relative;

        .bar {
          background-color: #36c;
          height: 100%;
          margin-left: auto;
        }
        .text-wrapper {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;

          .text {
            color: #ccd;
          }
        }
      }
    }

  }

  .time {
    margin-top: 10px;

    .when {
      font-size: 12px;
      .dark-mode & {
        color: #ccc;
      }
    }
  }
}
